/* Global */
html, body, p { font-size: 14px; color: #222; }

.page-title h2 { font-size: 22px; }

.featured .post-title { font-size: 30px; }

.s1 .alx-posts .post-item-title, #footer .alx-posts .post-item-title { font-size: 14px; }

.tagcloud a { background-color: #999; padding: 3px 7px; margin: 0 2px 2px 0; -webkit-border-radius: 2px; border-radius: 2px; color: #fff; }
.tagcloud a:hover { background-color: #dd3333; color: #fff }

.post-tags a { color: #444; }

#ie-warning { display: none; }

#header { background: transparent; }
#footer-bottom { background: transparent; }
#footer-bottom #copyright,
#footer-bottom #credit { color: #fff; color: #fff; font-size: 15px; line-height: 1.5em; }
#footer-bottom #back-to-top { background: transparent; color: #fff; }

.site-title { font-size: 100px; text-shadow:          0px 0px 8px rgba(0, 0, 0, 1.0); font-family: 'Shadows Into Light', serif; font-weight: 400; }
.site-title a img { display: inline; max-height: 62px; margin: -2px auto; } 

#copyright p, #credit p {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 1025px) {
	/* fixed nav */
	.full-width.topbar-enabled #header { padding-top: 150px }
    
}

@media only screen and (min-width: 720px) {

	#nav-topbar .nav li a { color: #fff; color: rgba(255, 255, 255, 1.0); font-weight: bold; text-transform: uppercase; }	
	
}

/* Tablet - 800px, 768px & 720px */
@media only screen and (min-width: 720px) and (max-width: 800px) {
	.mystyle {}
    .site-title { font-size: 72px; }
    .site-title a img { max-height: 72px !important; }
}


/* Mobile - 480px & 320px */
@media only screen and (max-width: 719px) {
	.mystyle {}
	.site-title { font-size: 46px; }
	.site-title a img { max-height: 46px !important; } 
}

/* Mobile - 320px */
@media only screen and (max-width: 479px) {
	.mystyle {}
	.site-title { font-size: 44px; }
	.site-title a img { display: none; } 
}
